USERNAME="ENTER YOUR VALUE HERE"
PASSWORD="ENTER YOUR VALUE HERE"
SERVER="ENTER YOUR VALUE HERE"
PORT="ENTER YOUR VALUE HERE"

# VWAP STRATEGY CONFIG
VWAP_PORT="ENTER YOUR VALUE HERE"
VWAP_TICKER="TNX"
VWAP_SHARES_TO_FILL=100000
VWAP_TRADES=10
VWAP_TRADE_ACTION="BUY"

# T3 STRATEGY CONFIG
T3_TRADE_UNTIL_TICK=297
T3_MIN_PROFIT_MARGIN=0.15